[submodule "tailscale/tailscale"]
	path = tailscale/tailscale
	url = https://github.com/tailscale/tailscale
[submodule "rathole/rathole"]
	path = rathole/rathole
	url = https://github.com/rapiz1/rathole
[submodule "prometheus/prometheus"]
	path = prometheus/prometheus
	url = https://github.com/prometheus/prometheus
